<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Path</title>
    <link rel="stylesheet" href="">
</head>
<body>
    <h1>The Path</h1>

    <table>
      <tr><th>Name</th><th>Description</th></tr>
        {% for journey in journeys %}
            <tr><td>{{journey.name}}</td><td>{{journey.description}}</td>
            {% for trail in journey.trail_set.all %}
                {% if trail.url %}
                <tr><td></td><td><a href="{{trail.url}}">{{trail.name}}</a></td></tr>
                {% else %}
                <tr><td></td><td>{{trail.name}}</td></tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </table>

</body>
</html>
